<!DOCTYPE html>
<html>
<head>
  @@include('meta.include')
  <link rel="stylesheet" href="[[vendor]]/swiper/swiper-3.3.1.min.css">
  <link rel="stylesheet" href="[[static]]/page/act_1018_mine/css/act_1018_mine.css[[v]]">
</head>
<body>
<div class="app">
  <!--标题-->
  <com-top-title title="我的10.18心愿单" home></com-top-title>

  <!--个人信息-->
  <div class="g-info">
    <template v-if="response && response.data.header" style="display: none;" :style="{display: response && response.data.header ? null : 'none'}">
      <img class="head-pic" v-lazy="response.data.header.userAvatar">
      <span class="info">
        <template v-if="true">
          <div class="nickname">{{response.data.header.nickName}}</div>
        </template>
        <template v-else>
          <div class="prize-nickname">{{response.data.header.nickName}}</div>
          <a href="">
            <div class="adviser-prize">服务人群销售额: 120000元，获得Iphone8 <span class="detail">详情<i></i></span></div>
          </a>
        </template>
      </span>
    </template>
  </div>

  <!--周年庆按钮-->
  <a href="">
    <img class="g-head-btn" src="[[static]]/page/act_1018_mine/img/head-btn.png">
  </a>

  <!--我的活动-->
  <div class="g-act" v-if="response" style="display: none;" :style="{display: response ? null : 'none'}">
    <!--服务人群预定奖励-->
    <!--<div class="service-award" v-if="isAdviser">-->
    <div class="service-award" v-if="response.data.award">
      <!--标题-->
      <div class="title-type-1">
        <div class="main-title">服务人群预定奖励</div>
        <div class="sub-title"><span class="word">共得{{response.data.award.totalReward}}元</span></div>
      </div>
      <!--手滑轮播-->
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide" v-for="(item, i) in response.data.award.dataList" v-if="i < 10">
            <img class="goods-pic" v-lazy="item.imageUrl">
            <div class="service-object">
              <img class="head" v-lazy="item.advanceAvatar">
              <span class="nickname">{{item.advanceName}}</span>
            </div>
            <div class="award">预定{{item.advanceNum}}件获得{{item.advanceReward}}元奖励</div>
          </div>
          <div class="swiper-slide more" v-if="response.data.award.dataList.length > 10">
            <a href="/act_1018_mine_list.html?type=1">
              <div class="btn">
                <span class="words">查看</br>更多</span>
                <i></i>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!--我的10.18红包-->
    <div class="redpack" v-if="response.data.myBonus">
      <!--标题-->
      <div class="title-type-2">我的10.18红包</div>
      <!--红包列表-->
      <ul class="list">
        <li v-for="(item, i) in response.data.myBonus">
          <div class="name">{{item.typeName}}</div>
          <div class="price">
            <span class="symbol">￥</span>
            <span class="num">{{item.typeMoney}}</span>
            <span class="limit">满{{item.minGoodsAmount}}可用</span>
          </div>
          <div class="time">有效期：{{date.format(item.endTime + '000', 'yyyy.MM.dd hh:mm:ss')}}</div>
        </li>
      </ul>
      <!--查看更多-->
      <a href="/user_bonus.html">
        <div class="more">查看更多<i></i></div>
      </a>
    </div>

    <!--我发起的助力省钱-->
    <!--<div class="assist" v-if="isSeller || isAdviser">-->
    <div class="assist" v-if="response.data.help">
      <!--标题-->
      <div class="title-type-1">
        <div class="main-title">我发起的助力省钱</div>
        <div class="sub-title"><span class="word">等待10.18当天抢</span></div>
      </div>
      <!--手滑轮播-->
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide" v-for="(item, i) in response.data.help">
            <!--<a :href="'/act_1018_all_together_assistance.html?goodsId=' + item.goodsId">-->
            <a :href="item.activityLink || 'javascript:void(0);'">
              <img class="goods-pic" v-lazy="item.goodsImage">
              <div class="info">
                <div class="assist" v-if="item.havePrice && parseInt(item.havePrice) > 0">
                  已获{{item.havePrice}}元助力
                  <div class="less">还差{{item.surplusPrice}}元0元购</div>
                </div>
                <div class="no-assist" v-else>还没获得好友助力继续加油吧</div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!--我预定的商品-->
    <!--<div class="reserve" v-if="isSeller || isAdviser">-->
    <div class="reserve" v-if="response.data.book">
      <!--标题-->
      <div class="title-type-1">
        <div class="main-title">我预定的商品</div>
        <div class="sub-title"><span class="word">尾款支付之间: 10.18 0点-24点</span></div>
      </div>
      <!--手滑轮播-->
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide" v-for="(item, i) in response.data.book" v-if="i < 10">
            <a :href="'/'+item.goodsId+'.html'">
              <img class="goods-pic" v-lazy="item.imageUrl">
              <div class="price">定金￥{{item.advancePrice}} (抵扣￥{{item.discountPrice}})</div>
            </a>
          </div>
          <div class="swiper-slide more" v-if="response.data.book.length > 10">
            <a href="/act_1018_mine_list.html?type=3">
              <div class="btn">
                <span class="words">查看</br>更多</span>
                <i></i>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!--我预约的商品-->
    <div class="subscribe" v-if="response.data.subscribe">
      <!--标题-->
      <div class="title-type-1">
        <div class="main-title">我预约的商品</div>
        <div class="sub-title"><span class="word">抢购时间10.19 0点－24点</span></div>
      </div>
      <!--手滑轮播-->
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide" v-for="(item, i) in response.data.subscribe" v-if="i < 10">
            <a :href="'/'+item.goodsId+'.html'">
              <img class="goods-pic" v-lazy="item.imageUrl">
              <div class="price">活动价￥{{item.price}}</div>
              <!--<div class="time">{{item.startTime}}开抢</div>-->
            </a>
          </div>
          <div class="swiper-slide more" v-if="response.data.subscribe.length > 10">
            <a href="/act_1018_mine_list.html?type=2">
              <div class="btn">
                <span class="words">查看</br>更多</span>
                <i></i>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!--我点亮的品牌活动-->
    <div class="lighten" v-if="response.data.lightenBrand">
      <!--标题-->
      <div class="title-type-2">我点亮的品牌活动</div>
      <!--手滑轮播-->
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide" v-for="(item, i) in response.data.lightenBrand" v-if="i < 10">
            <a :href="item.linkUrl">
              <img class="goods-pic" v-lazy="item.bandPic">
              <div class="info">
                <!--2017-10-18之前-->
                <template v-if="currentDate < '2017-10-18'">
                  <!--已达标-->
                  <template v-if="item.isCompleted === '1'">
                    <div class="ok"></div>
                    <i class="v-line b"></i>
                    <div class="target">{{item.highDiscount}}</div>
                    <div class="num">已有{{item.lightNum}}人点亮</div>
                  </template>
                  <!--未达标-->
                  <template v-else>
                    <div class="begin">{{item.lowDiscount}}</div>
                    <i class="v-line a"></i>
                    <div class="target">{{item.highDiscount}}</div>
                    <div class="num">还需{{item.remainLight}}人点亮</div>
                  </template>
                </template>
                <!--2017-10-18之后-->
                <template v-else>
                  <div class="over">{{item.finalDiscount}}</div>
                </template>
              </div>
            </a>
          </div>
          <div class="swiper-slide more" v-if="response.data.lightenBrand.length > 10">
            <a href="/myLightBrand.html">
              <div class="btn">
                <span class="words">查看</br>更多</span>
                <i></i>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!--我的抽奖记录-->
    <!--<div class="draw-record" v-if="isSeller || isAdviser">-->
    <div class="draw-record" v-if="response.data.drawRecord">
      <!--标题-->
      <div class="title-type-2">我的抽奖记录</div>
      <!--红包列表-->
      <ul class="list">
        <template v-for="(item, i) in response.data.drawRecord">
          <!--<li class="order no-draw">
            <div class="title">最高可中1018元现金大奖!</div>
            <div class="text"><span class="btn">立即抽奖</span></div>
          </li>
          <li class="order draw">
            <div class="title">
              抽中10.18现金！已送到你的
              <a class="account" href="/s[[env_num]].[[base_domain]]/index.php?m=admin&c=newIncome&a=detail&status=0&cat=5">大V账户</a>~
            </div>
            <div class="time">抽奖时间: 2017.10.22 06:01:12</div>
          </li>-->
          <li class="assist" v-if="item.type == '1'">
            <div class="title">抽中一台iPhone8</div>
            <div class="text">请等待工作人员联系你</div>
            <div class="time">抽奖时间: {{date.format(item.time + '000', 'yyyy.MM.dd hh:mm:ss')}}</div>
          </li>
        </template>
      </ul>
    </div>

    <!--必败清单-->
    <div class="recommend" v-if="response.data.willBuy">
      <!--标题-->
      <div class="title-type-2">必败清单</div>
      <!--双排列表-->
      <ul>
        <li v-for="(item, i) in response.data.willBuy">
          <div class="pic">
            <img :src="item.imageUrl">
            <div class="act">{{item.actInfo}}</div>
          </div>
          <div class="info">
            <div class="title">来袭拯救皮商品来袭拯救皮商品来袭拯救皮商品来袭拯救皮商品{{item.title}}</div>
            <div class="price">
              <span class="price-symbol">￥</span>
              <span class="price-int">{{item.nowPrice.split('.')[0]}}</span>
              <span class="price-decimal" v-if="item.nowPrice.split('.')[1]">.{{item.nowPrice.split('.')[1]}}</span>
              <span class="member">会员返<span class="symbol">￥</span>{{item.timeshopIncome}}</span>
            </div>
          </div>
        </li>
      </ul>
    </div>

  </div>


  <!--返回顶部-->
  <com-to-top-icon></com-to-top-icon>
</div>

@@include('vendor.include')
<script src="[[vendor]]/swiper/swiper-3.3.1.jquery.min.js"></script>
@@include('js.include')
<script src="[[static]]/page/act_1018_mine/js/act_1018_mine.js[[v]]"></script>
</body>
</html>
