body {
  max-width: 640px;
  color: #333;
  background-color: #f0f0f0;
  margin: 0 auto;
  font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.dav-list-item {
  padding: 12px 20px;
  background-color: #fff;
  border: #ddd solid 1px;
  border-top: none;
}

input, textarea {
  -webkit-appearance: none;
  outline: none;
  border: solid 1px #ddd;
  border-radius: 0px;
  margin: 0;
  box-shadow: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*数据加载中*/
.loading-wrap {
  background: url('//pic.davdian.com/free/loading.gif') center top no-repeat;
  padding-top: 42px;
  margin: 15px;
  text-align: center;
}

.dav-border-red {
  border-color: #ff4a7d !important;
}

.dav-red {
  color: #FF4A7D;
}

.dav-blue {
  color: #04d;
}

.dav-price {
  color: #FF4A7D;
}

.dav-bg-red {
  background-color: #FF4A7D;
  color: #fff;
}

.dav-color-FF4A7D {
  color: #FF4A7D;
}

.dav-color-price {
  color: #FF4A7D;
}

.dav-color-normal {
  color: #333;
}

i.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
}

i.icon_18 {
  width: 18px;
  height: 18px;
}

input:focus, textarea:focus {
  outline: none;
}

.dav-btn {
  border-radius: 3px;
  display: inline-block;
  padding: 10px;
}

.dav-btn.btn-small {
  font-size: 12px;
  border-radius: 2px;
  border: #ddd solid 1px;
  padding: 5px 24px;
}

.dav-btn.btn-block {
  display: block;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.dav-btn.btn-red {
  background-color: #FF4A7D;
  color: #fff;
}

.dav-btn.btn-orange {
  background-color: #FFA81B;
  color: #fff;
}

.dav-btn.btn-white {
  background-color: #FFF;
  color: #333;
  border: #333 solid 1px;
}

.dav-btn.btn-disable {
  background-color: #ddd;
  color: #666;
}

.dav-color-white {
  color: #fff !important;
}

.dav-container {
  font-size: 14px;
  line-height: 18px;
  padding: 22px 12px;
  background-color: #fff;
  margin-bottom: 12px;
}

.dav-opacity {
  background: none;
  box-shadow: none;
}

.dav-shadow {
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.dav-color6, .c6 {
  color: #666;
}

.dav-color9 {
  color: #999;
}

.dav-green {
  color: #0f9d58;
}

.center {
  text-align: center;
  width: 100%;
}

.goods-list-2 {
  overflow: hidden;
  padding: 0 1%;
  background: #fff;
}

.goods-list-2 .good_item {
  float: left;
  width: 48%;
  margin: 10px 1% 15px;
}

.goods-list-2 .good_item .good_img_container {
  padding: 0;
  position: relative;
  background-color: #fff;
}

.goods-list-2 .good_item .good_img_container img {
  width: 100%;
  border: 1px solid #eee;
}

.goods-list-2 .good_item .good_img_container .tag {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 0;
  right: -1px;
  background-size: 35px;
  background-image: url(//pic.davdian.com/free/taglist.png);
}

.good_list_2_row .good_item .good_img_container .tag.tag2 {
  background-position-y: -35px;
}

.good_list_2_row .good_item .good_img_container .tag.tag3 {
  background-position-y: -70px;
}

.good_list_2_row .good_item .good_img_container .tag.tag4 {
  background-position-y: -105px;
}

.good_list_2_row .good_item .good_img_container .tag.tag5 {
  background-position-y: -140px;
}

.good_list_2_row .good_item .good_img_container .tag.tag6 {
  background-position-y: -175px;
}

.goods-list-2 .good_item .good_title {
  font-size: 12px;
  color: #666;
  text-overflow: ellipsis;
  white-space: pre-line;
  overflow: hidden;
  height: 28px;
  line-height: 14px;
  padding: 5px 8px 0;
  background-color: #fff;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  overflow: hidden;
}

.goods-list-2 .good_item .good_price {
  color: #FF4A7D;
  font-size: 14px;
  padding: 5px 8px;
  background-color: #fff;
}

/* 弹层对话框 */
.dialog_mask {
  /*display: none;*/
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, .5);
  z-index: 1500;
}

.dialog_mask.o7 {
  background-color: rgba(0, 0, 0, .7);
}

.modal_dialog_wrap {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -104px;
}

.modal_dialog {
  margin: 0 auto;
  width: 250px;
  background: #fff;
  border-radius: 5px;
}

.modal_body {
  text-align: center;
  padding: 20px;
  line-height: 1.5;
  border-bottom: 1px solid #eee;
  position: relative;
}

.modal_body .input_container {
  padding: 8px;
  border: #eee solid 1px;
  margin-top: 6px;
  background-color: #fafafa;
}

.modal_body input.prompt {
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.2;
  height: 16px;
  background: none;
}

.modal_dialog_info_wrap .modal_body {
  border-bottom: none;
}

.modal_footer {
  overflow: hidden;
}

.modal_footer a {
  display: block;
  line-height: 3em;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: #333;
}

.modal_footer a:focus {
  text-decoration: none;
  color: #333;
}

.modal_dialog_info_wrap .modal_footer {
  display: none;
}

.modal_dialog_info_wrap .modal_body {
  background-image: none;
}

.modal_dialog_confirm_wrap .modal_footer a {
  border-left: 1px solid #eee;
  margin-left: -1px;
  width: 50%;
  float: left;
}

.modal_dialog .modal_footer .cancel {
  display: none;
}

.modal_dialog_confirm_wrap .modal_footer .cancel {
  display: block;
}

.modal_footer a:first-of-type {
  border-bottom-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-left: 0;
  margin-left: 0;
  margin-right: -1px;
}

.modal_dialog .modal_footer .confirm,
.modal_footer a:last-of-type {
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
}

.modal_dialog_confirm_wrap .modal_footer .confirm {
  border-bottom-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
}

.modal_footer a.active {
  background-color: #f3f3f3;
}

.modal_close {
  background: url("//pic.davdian.com/free/community_grey_close_2x.png") no-repeat;
  width: 16px;
  height: 16px;
  background-size: 16px;
  display: block;
  position: absolute;
  right: 10px;
  top: 10px;
}

/*弹层对话框 end*/

/*分享和收藏*/
.mask-to-web, .mask-to-favorite {
  position: fixed;
  max-width: 636px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
  z-index: 9999;
  /*display: block;*/
}

.mask-to-web p {
  color: #ffffff;
  font-size: 15px;
  padding: 5px 30px;
  word-break: break-all;
}

.mask-to-web .pointer {
  height: 95px;
  margin: 0px 40px 10px;
  background: url("//pic.davdian.com/free/pointer.png") no-repeat right;
}

.mask-to-favorite .fake {
  background-size: 320px;
  color: #ffffff;
  padding: 20px 20px;
}

.mask-to-favorite .fake .favorite-title {
  font-size: 15px;
}

.mask-to-favorite .fake .favorite-con {
  font-size: 12px;
  padding: 20px 15px 40px 25px;
  position: relative;
}

.mask-to-favorite .fake .top {
  border-bottom: #ffffff 1px solid;
}

.mask-to-favorite .fake .bottom {
  margin-top: 50px;
}

.mask-to-favorite .fake-favorite-we .bottom img {
  width: 85%;
}

.mask-to-favorite .fake-favorite-we .bottom .favorite-con, .mask-to-favorite .fake-favorite-qq .bottom .favorite-con {
  padding-left: 0;
  padding-right: 0;
}

.mask-to-favorite .fake-favorite-we .bottom .fav-text, .mask-to-favorite .fake-favorite-qq .bottom .fav-text {
  position: absolute;
  right: 0;
  top: 30px;
  width: 40%;
}

.mask-to-favorite .fake-favorite-we .bottom, .mask-to-favorite .fake-favorite-qq .bottom {
  margin-top: 20px;
}

.mask-to-favorite .fake-favorite-we .favorite-con {
  padding: 15px 15px 30px 25px;
}

.mask-to-favorite .icon-small-qq-fav {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url(//pic.davdian.com/free/fav-qq-small_2x.png);
  background-size: 25px;
  margin: 0 4px -8px;
}

.mask-to-favorite .fake-favorite-qq .bottom img {
  width: 55%;
}

/*分享和收藏end*/

.hide {
  display: none !important;
}

a, a:focus, a:hover, a:active, a:visited {
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

div, span {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.dav-small {
  font-size: 12px;
}

.dav-normal {
  font-size: 14px;
}

.break {
  text-decoration: line-through;
}

.underline {
  text-decoration: underline;
}

.pull-right.m0 {
  margin: 0
}

.mr_20 {
  margin-right: 20px;
}

.mr_10 {
  margin-right: 10px;
}

.ml_20 {
  margin-left: 20px;
}

.mt60 {
  margin-top: 60px;
}

.mt12 {
  margin-top: 10px;
}

.mt_5 {
  margin-top: 5px;
}

.mt_10 {
  margin-top: 10px;
}

.mt_15 {
  margin-top: 15px;
}

.ml6 {
  margin-left: 6px;
}

.ml10 {
  margin-left: 10px;
}

.mb_1 {
  margin-bottom: 1px;
}

.mt20 {
  margin-top: 20px;
}

.mt1 {
  margin-top: 1px;
}

.mb1 {
  margin-bottom: 1px;
}

.lh_18 {
  line-height: 18px;
}

.lh_20 {
  line-height: 20px;
}

.lh_25 {
  line-height: 25px;
}

.lh_30 {
  line-height: 30px;
}

.pb300 {
  padding-bottom: 300px;
}

.p10 {
  padding: 10px;
}

.pb10 {
  padding-bottom: 10px;
}

.pt10 {
  padding-top: 10px;
}

.pb20 {
  padding-bottom: 20px;
}

.mr_8 {
  margin-right: 8px;
}

.mb_10 {
  margin-bottom: 10px;
}

.good_list_2_row {
  background-color: #fff;
  overflow: hidden;

}

.good_list_2_row .good_item {
  // box-sizing: border-box;
  // -webkit-box-sizing: border-box;
  // width: 3.75rem;
  float: left;
  width: 50%;
  padding: 0 5px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-bottom: 20px;
}

.good_list_2_row .good_item:hover, .good_list_2_row .good_item:focus {
  text-decoration: none;
}

.good_list_2_row .good_img_container {
  padding: 0;
  position: relative;
  background-color: #fff;
}

.good_list_2_row .good_item .good_img_container img {
  width: 100%;
  border: 1px solid #eee;
}

.good_con {
  padding: 0 5px;
  line-height: 18px;
  display: inline-block;
}

.good_list_2_row .good_item .good_img_container .tag {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 0;
  right: -1px;
  background-size: 35px;
  background-image: url(//pic.davdian.com/free/taglist.png);
}

.good_list_2_row .good_item .good_img_container .tag.tag2 {
  background-position-y: -35px;
}

.good_list_2_row .good_item .good_img_container .tag.tag3 {
  background-position-y: -70px;
}

.good_list_2_row .good_item .good_img_container .tag.tag4 {
  background-position-y: -105px;
}

.good_list_2_row .good_item .good_img_container .tag.tag5 {
  background-position-y: -140px;
}

.good_list_2_row .good_item .good_img_container .tag.tag6 {
  background-position-y: -175px;
}

.good_list_2_row .good_item .good_title {
  font-size: 12px;
  color: #333;
  text-overflow: ellipsis;
  white-space: pre-line;
  overflow: hidden;
  height: 36px;
  line-height: 18px;
  margin-bottom: 2px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  overflow: hidden;
  padding-top: 6px;
}

.good_list_2_row .good_item .good_price {
  color: #FF4A7D;
  font-size: 12px;
  padding: 0px 8px;
  background-color: #fff;
}

.good_list_2_row .good_item .market_price {
  text-decoration: line-through;
  color: #999;
  margin-left: 8px;
}

.good_list_2_row .good_item .lable {
  border-radius: 8px;
  height: 16px;
  line-height: 16px;
  color: #fff;
  padding: 0px 5px;
  background-color: #FF4A7D;
  font-size: 10px;
  display: inline-block;
  margin-left: 4px;
  font-family: sans-serif;
}

.good_list_sell_out {
  font-size: 15px;
  color: #fff;
  background-color: rgba(0, 0, 0, .7);
  width: 60px;
  height: 60px;
  border-radius: 30px;
  line-height: 60px;
  top: 50%;
  position: absolute;
  z-index: 2;
  margin-top: -30px;
  left: 50%;
  margin-left: -30px;
  text-align: center;
}

/*底部固定导航*/
.dav-buyer-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  height: 49px;
  max-width: 640px;
  z-index: 13;
}

.dav-buyer-bottom:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background: #E3DFD8;
  width: 100%;
  height: 1px;
}
/*.good_list_con{*/
  /*margin: 0 0.1rem;*/
/*}*/
/*.good_img_container{*/
  /*display: inline-block;*/
  /*width: 1.1rem;*/
  /*height: 0.76rem;*/
/*}*/
/*Retina屏为2的时候调用下面的样式*/
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 4/2), only screen and (min-resolution: 2dppx) {
  .dav-buyer-bottom:after {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
}

@supports (-webkit-backdrop-filter: none) {
  .dav-buyer-bottom {
    background: rgba(255, 255, 255, .95);
    -webkit-backdrop-filter: brightness(1.5) blur(10px);
  }
}

.dav-buyer-bottom .menu-i {
  width: 20px;
  height: 20px;
  display: block;
  margin: 0 auto 5px;
  font-size: 20px;
  color: #333;
}

.dav-buyer-bottom .menu-i:before {
  font-family: "iconvault";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

.icon-bt-wc-home:before {
  content: "\f100";
}

.icon-bt-wc-favorite:before {
  content: "\f101";
}

.icon-bt-wc-phone:before {
  content: "\f102";
}

.icon-bt-wc-cart:before {
  content: "\f103";
}

.icon-bt-wc-list:before {
  content: "\f104";
}

.icon-bt-wc-user:before {
  content: "\f105";
}

.dav-buyer-bottom .menu-i.menu-i-1:before {
  content: "\f100";
}

.dav-buyer-bottom .menu-i.menu-i-2:before {
  content: "\f104";
}

.dav-buyer-bottom .menu-i.menu-i-3:before {
  content: "\f103";
}

.dav-buyer-bottom .menu-i.menu-i-4:before {
  content: "\f105";
}

.dav-buyer-bottom .menu-text {
  font-size: 10px;
  color: #999;
  text-decoration: none;
  line-height: 7px;
}

.dav-buyer-bottom .menu-item:hover {
  text-decoration: none;
}

.dav-buyer-bottom .menu-item.active .menu-text, .dav-buyer-bottom .menu-item.active .menu-i:before {
  color: #FF4A7D;
}

.dav-buyer-bottom .menu-item {
  width: 25%;
  float: left;
  text-align: center;
  display: block;
  position: relative;
  top: 6px;
}

.dav-buyer-bottom .menu-item i.icon {
  width: 24px;
  height: 24px;
}

.dav-buyer-bottom .menu-item b {
  margin-top: -35px;
  font-weight: normal;
  color: #fff;
  background: #FF4A7D;
  height: 16px;
  min-width: 16px;
  display: block;
  text-align: center;
  font-size: 10px;
  border-radius: 16px;
  position: absolute;
  left: 50%;
  line-height: 16px;
  margin-left: 5px;
  padding: 0;
}

.good_list_1_row {
  padding-left: 10px;
}

.good_list_1_row .img_container {
  width: 70px;
  height: 70px;
  position: relative;
  float: left;
}

.good_list_1_row .img_container:before {
  content: '';
  position: absolute;
  top: -1px;
  left: 0;
  border: 1px solid #ddd;
  width: 100%;
  height: 100%;
}

.good_list_1_row .img_container img {
  width: 100%;
}

.good_list_1_row .good_info_container {
  margin-left: 80px;
  font-size: 12px;
  color: #333;
  line-height: 1.5;
  height: 70px;
}

.good_list_1_row .good_title {
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  overflow: hidden;
  height: 40px;
  line-height: 20px;
  font-size: 14px;
}

.good_list_1_row .good_price {
  margin-top: 10px;
}

.good_list_1_row .good_price .dav-price {
  font-size: 14px;
}

.good_list_1_row .good_pric div {
  font-size: 12px;
}

.good_list_1_row .good_item {
  padding: 10px 10px 10px 0;
  border-bottom: #f0f0f0 solid 1px;
}

.good_list_1_row .good_item:last-child {
  border-bottom: none;
}

.loader_container {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 500px;
  max-width: 640px;
}

.loader_container.little {
  height: 80px !important;
  border-radius: 10px;
  top: 150px;
  width: 80px;
  left: 50%;
  margin-left: -40px;
  animation: transBackgroundOpacity 1s forwards;
  -webkit-animation: transBackgroundOpacity 1s forwards;
}

.loader_container .loader {
  position: relative;
  width: 50px;
  height: 50px;
  left: 50%;
  margin-left: -25px;
  top: 200px;
}

.uil-default-css-normal {
  position: relative;
  background: none;
  width: 200px;
  height: 200px;
}

@-webkit-keyframes uil-default-anim {
  0% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}

@keyframes uil-default-anim {
  0% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}

.uil-default-css-normal > div:nth-of-type(1) {
  -webkit-animation: uil-default-anim 1s linear infinite;
  animation: uil-default-anim 1s linear infinite;
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.uil-default-css-normal {
  position: relative;
  background: none;
  width: 200px;
  height: 200px;
}

.uil-default-css-normal > div:nth-of-type(2) {
  -webkit-animation: uil-default-anim 1s linear infinite;
  animation: uil-default-anim 1s linear infinite;
  -webkit-animation-delay: -0.4166666666666667s;
  animation-delay: -0.4166666666666667s;
}

.uil-default-css-normal {
  position: relative;
  background: none;
  width: 200px;
  height: 200px;
}

.uil-default-css-normal > div:nth-of-type(3) {
  -webkit-animation: uil-default-anim 1s linear infinite;
  animation: uil-default-anim 1s linear infinite;
  -webkit-animation-delay: -0.33333333333333337s;
  animation-delay: -0.33333333333333337s;
}

.uil-default-css-normal {
  position: relative;
  background: none;
  width: 200px;
  height: 200px;
}

.uil-default-css-normal > div:nth-of-type(4) {
  -webkit-animation: uil-default-anim 1s linear infinite;
  animation: uil-default-anim 1s linear infinite;
  -webkit-animation-delay: -0.25s;
  animation-delay: -0.25s;
}

.uil-default-css-normal {
  position: relative;
  background: none;
  width: 200px;
  height: 200px;
}

.uil-default-css-normal > div:nth-of-type(5) {
  -webkit-animation: uil-default-anim 1s linear infinite;
  animation: uil-default-anim 1s linear infinite;
  -webkit-animation-delay: -0.16666666666666669s;
  animation-delay: -0.16666666666666669s;
}

.uil-default-css-normal {
  position: relative;
  background: none;
  width: 200px;
  height: 200px;
}

.uil-default-css-normal > div:nth-of-type(6) {
  -webkit-animation: uil-default-anim 1s linear infinite;
  animation: uil-default-anim 1s linear infinite;
  -webkit-animation-delay: -0.08333333333333331s;
  animation-delay: -0.08333333333333331s;
}

.uil-default-css-normal {
  position: relative;
  background: none;
  width: 200px;
  height: 200px;
}

.uil-default-css-normal > div:nth-of-type(7) {
  -webkit-animation: uil-default-anim 1s linear infinite;
  animation: uil-default-anim 1s linear infinite;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.uil-default-css-normal {
  position: relative;
  background: none;
  width: 200px;
  height: 200px;
}

.uil-default-css-normal > div:nth-of-type(8) {
  -webkit-animation: uil-default-anim 1s linear infinite;
  animation: uil-default-anim 1s linear infinite;
  -webkit-animation-delay: 0.08333333333333337s;
  animation-delay: 0.08333333333333337s;
}

.uil-default-css-normal {
  position: relative;
  background: none;
  width: 200px;
  height: 200px;
}

.uil-default-css-normal > div:nth-of-type(9) {
  -webkit-animation: uil-default-anim 1s linear infinite;
  animation: uil-default-anim 1s linear infinite;
  -webkit-animation-delay: 0.16666666666666663s;
  animation-delay: 0.16666666666666663s;
}

.uil-default-css-normal {
  position: relative;
  background: none;
  width: 200px;
  height: 200px;
}

.uil-default-css-normal > div:nth-of-type(10) {
  -webkit-animation: uil-default-anim 1s linear infinite;
  animation: uil-default-anim 1s linear infinite;
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}

.uil-default-css-normal {
  position: relative;
  background: none;
  width: 200px;
  height: 200px;
}

.uil-default-css-normal > div:nth-of-type(11) {
  -webkit-animation: uil-default-anim 1s linear infinite;
  animation: uil-default-anim 1s linear infinite;
  -webkit-animation-delay: 0.33333333333333337s;
  animation-delay: 0.33333333333333337s;
}

.uil-default-css-normal {
  position: relative;
  background: none;
  width: 200px;
  height: 200px;
}

.uil-default-css-normal > div:nth-of-type(12) {
  -webkit-animation: uil-default-anim 1s linear infinite;
  animation: uil-default-anim 1s linear infinite;
  -webkit-animation-delay: 0.41666666666666663s;
  animation-delay: 0.41666666666666663s;
}

.loader_container.little .loader {
  top: 15px;
}

div,
dl, dt, dd, ul, ol, li, i,
h1, h2, h3, h4, h5, h6,
pre, code, form, fieldset, legend, input, textarea,
p, blockquote, th, td,
header, nav, section, article, footer, aside {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  list-style-type: none;
}

.color_FF4A7D {
  color: #FF4A7D;
}

#cnzz_stat_icon_1255599577 {
  display: none;
}

.back_store_con {
  width: 100%;
  max-width: 640px;
  background-color: rgba(2, 2, 2, 0.7);
  height: 50px;
  position: fixed;
  z-index: 100;
  bottom: 0px;
  display: block;
  text-align: center;
}

.back_store_con .close {
  background: url(//pic.davdian.com/free/close_ico_201579.png) no-repeat top right;
  width: 40px;
  height: 40px;
  display: inline-block;
  background-size: 19px;
  position: absolute;
  right: 10px;
  top: 5px;
  position: absolute;
  cursor: pointer;
}

.back_store_con .store_btn {
  width: 100px;
  text-align: center;
  border: 1px solid #ffb951;
  border-radius: 2px;
  font-size: 14px;
  color: #ffb951;
  padding: 5px;
  position: relative;
  top: 15px;
  cursor: pointer;
}

.back_store_bottom {
  bottom: 49px;
}

.back_store_bottom_0 {
  bottom: 0;
}

#to-top {
  height: 40px;
  width: 40px;
  position: fixed;
  margin-left: 590px;
  bottom: 105px;
  z-index: 999;
}

@media only screen and (max-width: 639px) {
  #to-top {
    right: 10px;
  }
}

.paysuccess-container {
  font-size: 14px;
  line-height: 18px;
  padding: 22px 12px;
  background-color: #fff;
  margin-bottom: 10px;
}

.paysuccess_customer_service_pic {
  width: 100%;
  margin-bottom: 10px;
}

.paysuccess_customer_service {
  min-height: 102px;
  margin-bottom: 10px;
  padding: 12px;
  background-color: #fff;
}

.paysuccess_customer_service .order_qr_codes {
  width: 94px;
  height: 94px;
  padding: 3px;
  border: 1px solid #eee;
  float: left;
  border-radius: 3px;
}

.paysuccess_customer_service .order_contact {
  margin-left: 108px;
  font-size: 12px;
  color: #888;
}

.paysuccess_customer_service .order_contact h2 {
  font-size: 14px;
  color: #333;
  padding-top: 2px;
}

.paysuccess_recommend {
  padding-left: 10px;
  padding-right: 10px;
}

.paysuccess_recommend_title {
  width: 1px;
  height: 1px;
  background-color: #cccccc;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 30px;
  position: relative;
}

.paysuccess_recommend_title .text {
  font-size: 15px;
  color: #666;
  background-color: #f1f1f1;
  display: inline-block;
  position: absolute;
  margin-left: -60px;
  width: 120px;
  left: 50%;
  text-align: center;
  top: -10px;
  margin-bottom: 10px;
}

.paysuccess_title {
  font-size: 15px;
  text-align: center;
  margin-bottom: 20px;
}

.paysuccess_btn {
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #FF4A7D;
  display: inline-block;
  border-radius: 3px;
  color: #FF4A7D !important;
  font-size: 13px;
}

.mr_35 {
  margin-right: 35px;
}

.dav_icon_choice_selected_40_40 {
  background-image: url("//pic.davdian.com/free/dav_icon_choice_selected_32_32.png");
  background-size: 16px;
  vertical-align: middle;
  margin-right: 5px;
}

.paysuccess_icon {
  width: 20px;
  height: 21px;
  background: url("//pic.davdian.com/free/binding_success_icon_151125.png") no-repeat;
  background-size: 20px;
  display: inline-block;
  vertical-align: middle;
  padding-right: 10px;
  margin-top: -4px;
}

.paysuccess_text {
  font-size: 20px;
  font-weight: bold;
  color: #FF4A7D;
  padding: 32px 0;
  background-color: #fff;
  margin-bottom: 10px;
  text-align: center;
}

.paysuccess_address {
  padding: 0 10px 15px;
  background-color: #fff;
  margin-bottom: 10px;
}

.paysuccess_address_icon {
  display: inline-block;
  height: 18px;
  width: 17px;
  background: url("//pic.davdian.com/free/paysuccess_address_icon.png") no-repeat;
  background-size: 10px;
  vertical-align: middle;
}

.paysuccess_address_tilte {
  border-bottom: 1px solid #eee;
  height: 44px;
  line-height: 44px;
  padding: 0 5px;
}

.paysuccess_address_content {
  padding: 10px 5px 12px;
}

.paysuccess_address_content p {
  padding-bottom: 5px;
}

/*悬浮购物车样式*/
.app_cart {
  height: 54px;
  width: 54px;
  position: fixed;
  bottom: 48px;
}

body.in_app .app_cart {
  bottom: 8px;
}

body.in_app_150 .app_cart {
  display: none;
}

.app_cart_ico {
  width: 54px;
  height: 54px;
  display: block;
  position: relative;
  background-image: url(//pic.davdian.com/free/suspension_cart_icon_0803.png);
  background-size: 54px;
  background-repeat: no-repeat;
  z-index: 2;
}

.app_cart b {
  top: 3px;
  font-weight: normal;
  color: #fff;
  background: #FF4A7D;
  width: 16px;
  display: block;
  text-align: center;
  font-size: 10px;
  border-radius: 10px;
  position: absolute;
  right: 4px;
  z-index: 2;
  line-height: 16px;
}

.detail_bouns_icon {
  border-radius: 2px;
  text-align: center;
  background-color: #EC6890;
  color: #fff;
  padding: 2px 3px;
  margin-right: 7px;
}

.dav_icon_arrow {
  display: inline-block;
  vertical-align: 0;
  width: 8px;
  height: 8px;
  border-top: 1px solid #999;
  border-right: 1px solid #999;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  position: relative;
  top: 0;
}

.droped .arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid #D5D5D5;
  border-bottom: transparent;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 7px solid #D5D5D5;
  border-top: transparent;
}

.fz_10 {
  font-size: 10px;
}

.fz_12 {
  font-size: 12px;
}

.fz_13 {
  font-size: 13px;
}

.fz_15 {
  font-size: 15px;
}

.fz_14 {
  font-size: 14px;
}

.fz_20 {
  font-size: 20px;
}

.p0 {
  padding: 0;
}

.refresh, .click2refresh {
  margin: 12px;
  text-align: center;
}

.orange_title {
  height: 40px;
  background-color: #fff;
}

.orange_title_font {
  height: 40px;
  color: #333;
  font-size: 16px;
  line-height: 40px;
}

.orange_title_font:before {
  display: inline-block;
  margin: 0 6px 0 10px;
  width: 2px;
  height: 16px;
  background-color: #FF4A7D;
  position: relative;
  content: "";
  top: 2px;
}

.orange_title .more {
  padding-right: 14px;
  float: right;
  padding-top: 3px;
}

.orange_title .more span {
  color: #666;
  font-size: 12px;
  line-height: 35px;
  margin-right: -2px;
}

.orange_title .tuan_btn {
  width: 60px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  color: #666;
  margin-right: 10px;
  float: right;
  margin-top: 12px;
  border-radius: 3px;
  display: block;
  font-size: 12px;
}

.indicators {
  position: relative;
  bottom: 22px;
  z-index: 2;
  height: 0;
}

.indicators .item.selected {
  background-color: #FF4A7D;
}

.indicators .item {
  display: inline-block;
  margin: 0 2px;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: #dedede;
}

/*
flex：定义布局为盒模型
flex-v：盒模型垂直布局
flex-1：子元素占据剩余的空间
flex-align-center：子元素垂直居中
flex-pack-center：子元素水平居中
flex-pack-justify：子元素两端对齐
兼容性：ios 4+、android 2.3+、winphone8+
*/
.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex-v {
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.flex-align-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-pack-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flex-pack-justify {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/*团购样式*/
.tuan_list {
  display: block;
  text-decoration: none;
  color: #333;
}

.tuan_list a {
  border-bottom: 1px solid #f0f0f0;
  display: block;
  position: relative;
}

.tuan_list a:last-child {
  border-bottom: none;
}

.tuan_img_container img {
  width: 100%;
  display: block;
  height: 43.75vw;
  max-height: 280px;
}

.tuan_info_container {
  position: absolute;
  width: 1.62rem;
  top: 0;
  right: 10px;
  height: 100%;
}

.tuan_list a .time {
  background-color: rgba(0, 0, 0, .3);
  line-height: normal;
  display: block;
  border-radius: .75rem;
  position: absolute;
  bottom: .14rem;
  left: 0;
  font-size: .12rem;
  padding: 0.01rem 0.05rem;
  color: #fff;
}

.tuan_list:hover, .tuan_list:focus {
  text-decoration: none;
  color: #333;
}

.tuan_item:hover, .tuan_item:focus {
  text-decoration: none;
  color: #333;
}

.tuan-other-info {
  margin-top: 0.15rem;
}

.tuan_item_title {
  text-overflow: ellipsis;
  white-space: pre-line;
  overflow: hidden;
  height: 0.62rem;
  line-height: 0.21rem;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  overflow: hidden;
  font-size: 0.14rem;
  color: #333;
}

.tuan_item_price {
  font-size: 0.11rem;
  color: #333;
  position: absolute;
  bottom: 0.39rem;
}

.tuan_item_price .current_price {
  font-size: 0.24rem;
  padding-right: 6px;
}

.tuan_item_price .market_price {
  text-decoration: line-through;
  color: #999;
}

.tuan_img_container img {
  width: 100%;
}

.tuan_item_icon {
  width: 0.3rem;
  height: 0.31rem;
  background: url(//pic.davdian.com/free/tuanlist_icon_3x_0804.png) no-repeat;
  background-size: 0.3rem;
  display: inline-block;
  position: absolute;
  bottom: 0.11rem;
  right: 2px;
}

/*整体去iframe*/
iframe {
  display: none !important;
  opacity: 0 !important;
}

/*部分iframe放出来*/
/*文章页 商品详情*/
.article-content iframe, .good_information iframe {
  display: block !important;
  opacity: 1 !important;
}

/*我的收藏*/
.collect_container .good_list_2_row {
  padding-top: 10px;
}

.collect_container .delete_btn {
  width: 42px;
  height: 14px;
  border: 1px solid #333;
  border-radius: 2px;
  text-align: center;
  line-height: 14px;
  color: #333;
  cursor: pointer;
}

/*支付成功*/
.paysuccess_goods_list .good_list_2_row {
  padding-top: 10px;
}

/*店主推荐页面商品管理按钮*/
.shop_management {
  background: #fff;
  text-align: center;
  padding: 10px 0;
}

.shop_management_btn {
  color: #FF4A7D !important;
  border: 1px solid #FF4A7D;
  padding: 0px 20px;
  line-height: 20px;
  border-radius: 3px;
  font-size: 12px;
  display: inline-block;
}

/*app推广下载*/

.download_layer {
  background-color: rgba(51, 51, 51, 0.9);
  height: 44px;
  position: fixed;
  max-width: 640px;
  width: 100%;
  bottom: 0px;
  z-index: 9;
}

.download_layer.index_download_layer {
  bottom: 49px;
}

.download_layer.article_download_layer {
  position: relative;
  margin-top: 12px;
}

.download_layer .close {
  background: url("//pic.davdian.com/free/community_white_close_2x.png") no-repeat;
  width: 15px;
  height: 15px;
  display: block;
  background-size: 15px;
  position: absolute;
  top: 14px;
  left: 12px;
}

.download_layer .logo {
  background: url("//pic.davdian.com/free/dvd_app_icon.png") no-repeat;
  width: 38px;
  height: 38px;
  background-size: 38px;
  display: block;
  position: absolute;
  left: 50px;
  top: 3px;
}

.download_layer .slogan {
  height: 30px;
  display: block;
  margin-left: 105px;
  color: #fff;
  margin-top: 2px;
}

.download_layer .download_btn {
  width: 74px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  background-color: #FF4A7D;
  color: #fff;
  font-size: 15px;
  display: block;
  position: absolute;
  right: 0;
  border-radius: 3px;
  top: 8px;
  right: 12px;
}

.pop_up_layer .close {
  background: url("//pic.davdian.com/free/community_grey_close_2x.png") no-repeat;
  width: 16px;
  height: 16px;
  background-size: 16px;
  display: block;
  position: absolute;
  right: 10px;
  top: 10px;
}

.pop_up_layer .con {
  padding: 15px 0px 15px 20px;
  text-align: left;

}

.pop_up_layer .con .logo {
  background: url("//pic.davdian.com/free/dvd_app_icon.png") no-repeat;
  width: 38px;
  height: 38px;
  background-size: 38px;
  display: block;
  float: left;
  margin-right: 10px;
}

.bottom_div {
  width: 100%;
  height: 80px;
  line-height: 100px;
  text-align: center;
}

/*单条 border*/
.one_border.hairlines .border_inner {
  position: relative;
  border: none;
}

.one_border.hairlines .border_inner:after {
  content: '';
  position: absolute;
  left: 0;
  background: #999;
  width: 100%;
  height: 1px;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

/*四条 border*/
.april_border.hairlines .border_inner {
  position: relative;
  border: none;
}

.april_border.hairlines .border_inner:after {
  content: '';
  position: absolute;
  top: -1px;
  left: 0;
  border: 1px solid #999;
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

/*Retina屏为2的时候调用下面的样式*/
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 4/2), only screen and (min-resolution: 2dppx) {
  .one_border.hairlines .border_inner:after {
    content: '';
    position: absolute;
    left: 0;
    background: #999;
    width: 100%;
    height: 1px;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }

  .april_border.hairlines .border_inner:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #999;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 200%;
    height: 200%;
    transform: scale(0.5);
    transform-origin: left top;

    -ms-transform: scale(0.5); /* IE 9 */
    -ms-transform-origin: left top; /* IE 9 */

    -webkit-transform: scale(0.5); /* Safari 和 Chrome */
    -webkit-transform-origin: left top; /* Safari 和 Chrome */

    -moz-transform: scale(0.5); /* Firefox */
    -moz-transform-origin: left top; /* Firefox */

    -o-transform: scale(0.5); /* Opera */
    -o-transform-origin: left top; /* Opera */
    border-radius: 6px;
  }

  .good_list_1_row .img_container:before {
    top: 0;
    left: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 200%;
    height: 200%;
    transform: scale(0.5);
    transform-origin: left top;

    -ms-transform: scale(0.5); /* IE 9 */
    -ms-transform-origin: left top; /* IE 9 */

    -webkit-transform: scale(0.5); /* Safari 和 Chrome */
    -webkit-transform-origin: left top; /* Safari 和 Chrome */

    -moz-transform: scale(0.5); /* Firefox */
    -moz-transform-origin: left top; /* Firefox */

    -o-transform: scale(0.5); /* Opera */
    -o-transform-origin: left top; /* Opera */
  }
}

.shop_keeper .good_con .fz_12 {
  height: 18px;
  overflow: hidden;
}

.no_more {
  text-align: center;
  margin: 10px;
}

.dav_icon_up2top_80_80 {
  background-size: 44px;
  background-image: url("//pic.davdian.com/free/back_top_icon_0803.png");
}

.box {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: box;
  display: flex;
}

.box-warp {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.box-v {
  -webkit-flex-direction: column;
  flex-direction: column;
}

.box-h {
  -webkit-flex-direction: row;
  flex-direction: row;
}

.item {
  -webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1; /* OLD - Firefox 19- */
  -webkit-flex: 1; /* Chrome */
  -ms-flex: 1; /* IE 10 */
  flex: 1; /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.item-1of3 {
  -webkit-flex: 0 0 33.333%; /* Chrome */
  -ms-flex: 0 0 33.333%; /* IE 10 */
  flex: 0 0 33.333%; /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.item-2 {
  -webkit-box-flex: 2; /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 2; /* OLD - Firefox 19- */
  -webkit-flex: 2; /* Chrome */
  -ms-flex: 2; /* IE 10 */
  flex: 2; /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.item-3 {
  -webkit-box-flex: 3; /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 3; /* OLD - Firefox 19- */
  -webkit-flex: 3; /* Chrome */
  -ms-flex: 3; /* IE 10 */
  flex: 3; /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.index_model .swiper-container {
  z-index: 0;
}

.pic_info {
  position: absolute;
  right: .08rem;
  top: .08rem;
  width: .38rem;
  font-size: .11rem;
  background-color: #ff4a7d;
  color: #fff;
  border-radius: .19rem;
  text-align: center;
  line-height: .13rem;
  height: .38rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 .02rem;
  box-sizing: border-box;
}

[v-cloak], [base-on-rem] {
  display: none !important;
}

.active_container {
  max-width: 640px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: relative;
}

.active_container .pic_container {
  position: absolute;
}

.active_container a {
  display: block;
  border-radius: 5px;
  overflow: hidden;
}

.active_container .close {
  position: relative;
}

.active_container .close span {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  right: -15px;
  top: -15px;
  background-color: rgba(177, 177, 177, .8);
  border-radius: 30px;
  background-image: url(//pic.davdian.com/free/close_ico_201579.png);
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: 50%;
}

.height0 {
  height: 0 !important;
}

.border_bottom_E1 {
  border-bottom: 1px solid #E1E1E1;
}

.backcolor_F {
  background-color: #FFFFFF;
}

.inblock {
  display: inline-block;
}

.positionrelative {
  position: relative;
}

.displayin {
  display: inline-block;
}

.pd_8 {
  padding-bottom: 8px;
}

.thanksgiving_meetingplace {
  position: fixed;
  z-index: 7;
  bottom: 50px;
  margin-left: 10px;
  width: 70px;
  height: 70px;
  background: url(//pic.davdian.com/free/2016/12/27/164_164_988531d856b8662bc338d61e35094a41.png) no-repeat;
  background-size: 70px;
}

.border_bottom_E1 {
  border-bottom: 1px solid #E1E1E1;
}

.backcolor_F {
  background-color: #FFFFFF;
}

.inblock {
  display: inline-block;
}

.positionrelative {
  position: relative;
}

.backcolor_E {
  background-color: #EEEEEE;
}

.fontwbold {
  font-weight: 900;
}

.in_app .kd_prompt_con {
  top: 0;
}

.kd_prompt_con {
  max-width: 640px;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  height: 44px;
  line-height: 44px;
  position: fixed;
  top: 44px;
  margin: 0 auto;
  z-index: 20;
}

.kd_prompt_con .close {
  background: url(//pic.davdian.com/free/community_white_close_2x.png) no-repeat;
  width: 15px;
  height: 15px;
  display: block;
  background-size: 15px;
  position: absolute;
  top: 14px;
  left: 13px;
}

.kd_prompt_con .title {
  font-size: 12px;
  color: #fff;
  padding: 0 84px 0 40px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  overflow: hidden;
}

.kd_prompt_con .kd_btn {
  width: 64px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background-color: #ff4a7d;
  color: #fff;
  font-size: 11px;
  display: block;
  position: absolute;
  right: 10px;
  border-radius: 2px;
  top: 10px;
}

.f_l {
  float: left;
}

.f_r {
  float: right;
}

.text_l {
  text-align: left;
}

.text_r {
  text-align: right;
}

/* 公共toast提示 */
@-webkit-keyframes com-alert-animation {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes com-alert-animation {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.com-popup-toast {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 640px;
  height: 100%;
  display: table;
  z-index: 9;
  line-height: 1;
}

.com-popup-toast .cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.com-popup-toast .cell .box {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.1rem 0.15rem;
  min-width: 1.2rem;
  max-width: 2rem;
  min-height: 0.4rem;
  border-radius: 0.04rem;
  background: rgba(0, 0, 0, 0.65);
  color: #fff;
  font-size: 0.14rem;
  line-height: 0.2rem;
  -webkit-animation: com-alert-animation 0.3s;
  animation: com-alert-animation 0.3s;
}

.com-popup-toast .cell .box .html {
  display: inline-block;
  text-align: left;
}
#main{
  background: #FFFFFF
}
