body{
  margin: 0px auto 44px;
}
.live_top {
  background:rgba(0,0,0,0.6);
  height: 44px;
}
.live_top .shop_img {
  width: 38px;
  height: 38px;
  border-radius: 16px;
  vertical-align: bottom;
  margin: 3px 10px;
}
.live_top .shop_title {
  display: block;
  overflow: hidden;
  margin-top: -37px;
  margin-left: 58px;
  height: 32px;
  color: #fff;
  vertical-align: text-bottom;
  font-size: 12px;
  padding-bottom: 4px;
  width: 140px;
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 16px;
}
.live_top .shop_title .pic{
  font-size: 11px;
  color: #999;
}
.live_top .right {
  float: right;
  font-size: 12px;
}
.live_top .right .kd_btn {
  margin: 10px;
  color: #666;
  padding-right: 3px;
}
.live_top .right .arrow {
  display: inline-block;
  vertical-align: 0;
  width: 10px;
  height: 10px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-left: 1px;
  vertical-align: baseline;
  margin-top: 6px;
}
.container{
  margin-top:0;
}
.download_layer{
  background-color:rgba(0,0,0,0.6);
  height: 44px;
  position: fixed;
  max-width: 640px;
  width: 100%;
  bottom : 0px;
  z-index: 9;
}
.download_layer .close{
  background:url("//pic.davdian.com/free/community_white_close_2x.png") no-repeat;
  width: 15px;
  height: 15px;
  display: block;
  background-size: 15px;
  position: absolute;
  top: 14px;
  left: 12px;
}
.download_layer .logo{
  background:url("//pic.davdian.com/free/community_h5_logo.png") no-repeat;
  width: 28px;
  height: 28px;
  background-size: 28px;
  display: block;
  position: absolute;
  left: 40px;
  top:8px;
}
.download_layer .slogan{
  height:30px;
  display: block;
  margin-left:83px;
  color: #fff;
  margin-top: 10px;
}
.download_layer .slogan img{
  width: 66px;
}
.download_layer .download_btn{
  width: 64px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  border: 1px solid #fff;
  color: #fff;
  font-size: 11px;
  display: block;
  position: absolute;
  right: 0;
  border-radius: 3px;
  top: 10px;
  right: 12px;
  background-color: transparent!important;
}
.community_con{
  background-color:#fff;
  padding: 15px 10px;
}
.community_con .head{
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 40px;
  position: absolute;
}
.community_con .head img{
  vertical-align: inherit;
}

.community_con .right{
  float: left;
  padding-left: 50px;
  width: 100%;
  box-sizing: border-box;
}
.community_con .right .shop_name{
  font-size: 16px;
}
.community_con .right .praise{
  width: 60px;
  height: 28px;
  border-radius: 3px;
  line-height: 28px;
  color: #EC6890;
  text-align: center;
  font-size: 12px;
}
.community_con .right .april_border.hairlines .border_inner:after{
  border: 1px solid #bbb;
}
.community_con .right .praise img{
  width:16px;
  height: 14px;
  margin-right: 4px;
}
.community_con .right .text_con{
  padding-top: 10px;
}
.community_con .right .text_con .title{
  font-weight: bold;
}
.community_con .right .text_con .content{
  line-height: 21px;
  margin-top: 5px;
}
.community_con .right .link{
  margin-top: 5px;
  font-size: 12px;
  color:#FF4A7D;
  line-height: 14px;
}
.community_con .right .link img{
  width: 14px;
  height: 14px;
  margin-right: 6px;
  margin-top: -2px;
}
.community_con .right .oneimg{
  margin-top: 10px;
  margin-right: 30px;
}
.community_con .right .img{
  margin-top: 10px;
  margin-right: 26px;
}
.community_con .right .img li{
  width: 33.3%;
  padding-right: 4px;
  padding-bottom: 4px;
  box-sizing: border-box;
  float: left;
}
.community_con .right .img li img{
  width: 100%;
}
.community_con .right .icon{
  margin-top: 11px;
  position:relative;
  font-size: 11px;
  color: #666;
  height: 18px;
}
.community_con .right .icon .left{
  position: absolute;
  left: 0;
}
.community_con .right .icon .left img{
  width:18px;
  height: 18px;
  margin-right: 5px;
}
.community_con .right .icon .copy{
  position: absolute;
  left:50%;
  margin-left: -32px;
}
.community_con .right .icon .copy img{
  width:15px;
  height: 16px;
  margin-right: 5px;
}
.community_con .right .icon .share{
  position: absolute;
  right: 0;
}
.community_con .right .icon .share img{
  width:16px;
  height: 15px;
  margin-right: 5px;
}
.all_review{
  background-color: #fff;
  margin-top: 10px;
}
.all_review .title{
  line-height: 40px;
  border-bottom: 1px solid #f1f1f1;
  font-size: 15px;
  color: #333;
  padding-left: 10px;
  padding-right: 10px;
}
.all_review .title .review_icon{
  background:url("//pic.davdian.com/free/community_review_icon_2x.png") no-repeat center;
  width: 19px;
  height: 18px;
  background-size: 17px;
  display: block;
  float: right;
  margin-top: 10px;
}
.all_review .con_list{
  padding-left: 10px;
  padding-top: 10px;

}
.all_review .con_list li{
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  padding-right: 10px;
  margin-bottom: 10px;
}
.all_review .con_list li:last-child{
  margin-bottom: 0;
}
.all_review .con_list li .head{
 width: 28px;
  height: 28px;
  float: left;
  overflow: hidden;
  border-radius: 28px;
}
.all_review .con_list li .right{
 margin-left:36px;
}
.all_review .con_list li .right h2{
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 4px;
}
.all_review .con_list li .right .text{
  font-size: 14px;
  position: relative;
}
.load_more_review{
  text-align: center;
  color: #FF4A7D;
  font-size: 12px;
  line-height: 40px;
}
.review_module{
  background-color: #fff;
  padding: 10px;
  margin-top: 10px;
}
.review_input{
 width: 100%;
 height: 30px;
 border: 0;
 padding: 0 0 0 10px;
 margin: 0;
 border-radius: 3px;
 box-sizing: border-box;
 border: 1px solid #eee;
}
.no_review{
 background-color: #fff;
 text-align: center;
 padding: 20px 0;
  margin-top: 10px;
}
.no_review_text{
 font-size: 15px;
  color: #666;
  padding-bottom: 15px;
}
.add_review_btn{
  width: 74px;
  height:28px;
  line-height: 28px;
  text-align: center;
  background-color: #FF4A7D;
  color: #fff;
  font-size: 15px;
  display: block;
  border-radius: 3px;
  margin: 0 auto;
}



.related_products_list {
  padding:0;
}
.related_products_list li {
  padding: 10px;
}
.related_products_list li:last-child{
  border-bottom:none;
}
.related_products_list li .img_container {
  position: relative;
  height:78px;
  overflow: hidden;
  background:#f7f7f7;
}
.related_products_list li .img_container_inner {
  width:78px;
}
.related_products_list li .img_container img {
  width: 76px;
  height: 76px;
  border: 1px solid #f7f7f7;
}
.related_products_list li .order_good_info_container {
  position: absolute;
  padding:10px 10px 0 88px;
  top: 0;
  width: 100%;
  box-sizing: border-box;
}
.related_products_list li  .order_good_info_container .order_good_name {
  height: 3em;
  overflow: hidden;
  line-height: 1.5;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  color: #666;
}
.related_products_list li .order_good_price {
  margin-top:4px;
  font-size: 15px;
  color: #FF4A7D;
}
.related_products_list li .date{
  margin-top:4px;
  font-size: 11px;
  color: #999999;
}
.pl_6{
  padding-left: 6px;
}