<!DOCTYPE html>
<html lang="ch" style="font-size: 100px">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>MAMA+&nbsp;|&nbsp;大V店</title>
    <link rel="stylesheet" href="http://cdn.davdian.com/swiper/swiper-3.3.1.min.css">
    <link rel="stylesheet" href="../dist/index_fe.css">
    <script>
        // 变量
        var dataUrl = "../data/index/index.json";  //feed流数据
        var tj_path = 'index'
        var maybeYouLikeUrl = "http://weapp.davdian.com/fetch2";
    </script>
</head>
<body class="scroll_flag self_shop">
<!--下雪-->
<!--<div id="snow_ctnr">-->
    <!--<div class="snow_dom_slice snow_fall snow_01">-->
        <!--<div class="snow_drifter drift_01"></div>-->
    <!--</div>-->
    <!--<div class="snow_dom_slice snow_fall snow_02">-->
        <!--<div class="snow_drifter drift_02"></div>-->
    <!--</div>-->
    <!--<div class="snow_dom_slice snow_fall snow_03">-->
        <!--<div class="snow_drifter drift_03"></div>-->
    <!--</div>-->
    <!--<div class="snow_dom_slice snow_fall snow_04">-->
        <!--<div class="snow_drifter drift_04"></div>-->
    <!--</div>-->
<!--</div>-->

<div id="index_fe_container">
    <index></index>
</div>

<script src="//cdn.davdian.com/vue/2.0.5/vue.js"></script>
<script src="//cdn.davdian.com/jquery/1.9.1/jquery.min.js"></script>
<script src="//cdn.davdian.com/swiper/swiper-3.3.1.jquery.min.js"></script>
<script src="../dist/index_fe.js"></script>
<script src="http://fe.davdian.com/wap/19534/javascript/model.js"></script>
</body>
</html>
