@import "../../../common/css/common.scss";

.app {
  padding-bottom: ptr(30);
  background: #fe4c6f url(../img/head-bg.jpg) no-repeat;
  background-size: 100% auto;
}

.g-act {
  margin-top: ptr(230);
  min-height: ptr(60);
  .act-title {
    //line-height: ptr(38);
    //font-size: ptr(30);
    text-align: center;
    color: #FF4A7D;
    font-weight: bold;
    p {
      background: linear-gradient(to bottom, #FB8F00, #FF0000);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    img {
      width: ptr(311);
    }
  }
  .act-step {
    margin: ptr(20) auto 0;
    width: ptr(285);
    text-align: center;
    .money-list {
      display: flex;
      color: #FF4A7D;
      font-weight: bold;
      .money {
        display: block;
        flex: 1;
        font-size: ptr(14);
        line-height: ptr(20);
        padding-top: ptr(4);
        &.current {
          padding-top: 0;
          font-size: ptr(18);
          line-height: ptr(25);
        }
      }
    }
    .point-list {
      margin-top: ptr(9);
      display: flex;
      height: ptr(3);
      border-radius: ptr(100);
      background: rgba(255, 255, 255, 0.7);
      text-align: center;
      .point {
        position: relative;
        display: block;
        flex: 1;
        &.over {
          img {
            position: absolute;
            top: ptr(-3);
            margin-left: ptr(-3);
            width: ptr(9);
          }
        }
        &.current {
          img {
            position: absolute;
            top: ptr(-4.5);
            margin-left: ptr(-5);
            width: ptr(13);
          }
        }
        &.next {
          img {
            position: absolute;
            top: ptr(-3);
            margin-left: ptr(-3);
            width: ptr(9);
          }
        }
      }
    }
    .date-list {
      margin-top: ptr(6);
      display: flex;
      .date {
        display: block;
        flex: 1;
        font-size: ptr(14);
        line-height: ptr(20);
        color: #333;
        &.over {
          color: #999;
        }
      }
    }
  }
  .act-today-info {
    font-size: ptr(14);
    line-height: ptr(21);
    color: #ff4a7d;
    text-align: center;
    //font-weight: bold;
    text-align: center;
    .text {
      padding: 0 ptr(3);
      display: inline-block;
      line-height: ptr(21);
      border-bottom: 1px solid #FF4A7D;
    }
    .num {
      color: #FF4A7D;
    }
  }
  .act-result {
    margin: ptr(20) auto;
    padding: ptr(20) 0;
    width: ptr(350);
    background: #fefefe;
    border: 1px solid rgba(240, 104, 128, 0.40);
    border-radius: ptr(10);
    text-align: center;
    &.transparent {
      border: none;
      background: transparent;
      padding-top: 0;
    }
    //.title {
    //  margin-bottom: ptr(9);
    //  font-size: ptr(18);
    //  color: #ff4a7d;
    //  line-height: ptr(25);
    //  font-weight: bold;
    //}
    .title, p {
      font-size: ptr(16);
      line-height: ptr(28);
      color: #ff4a7d;
      font-weight: bold;
      .num {
        color: #FF4A7D;
      }
    }
    .act-info {
      margin-bottom: ptr(8);
    }
  }
  .act-btn {
    margin: ptr(15) auto 0;
    //padding: ptr(3);
    box-sizing: border-box;
    width: ptr(160);
    @include height(ptr(30));
    line-height: ptr(32);
    //background-image: linear-gradient(to right, #FEFAB0, #E0E80B);
    //box-shadow: 0 1px 3px 0 #AC6602;
    background: #fe535d;
    border-radius: 100px;
    text-align: center;
    font-size: ptr(14);
    color: #fff;
    .text {
      //@include height(ptr(38));
      //background-image: linear-gradient(to right, #FF5C5C, #FA1862);
      border-radius: 100px;
    }
  }
  .send-tip {
    margin-top: ptr(15);
    color: #666666 !important;
    font-size: ptr(13) !important;
    font-weight: normal !important;
    padding: 0 ptr(10);
    line-height: ptr(19) !important;
  }
}

.g-rule {
  margin: ptr(40) auto 0;
  padding-top: ptr(41);
  width: ptr(350);
  //background: url("../img/rule-head.png") ptr(105) 0 no-repeat;
  background-size: ptr(234) auto;
  .panel {
    padding: ptr(3) ptr(4);
    border: 1px solid #ffc9d2;
    border-radius: ptr(10);
    //background-image: linear-gradient(to bottom, #F8879B, #F45672);
    .content {
      position: relative;
      padding: ptr(25) ptr(15) ptr(5);
      //background: #FFEBEF;
      //border-radius: ptr(7);
      //border-image: linear-gradient(to bottom, #F8879B, #F45672);
      //box-shadow: 0 ptr(2) ptr(4) rgba(73, 61, 0, .40);
      .title {
        position: absolute;
        top: ptr(-16);
        left: 50%;
        margin-left: ptr(-65);
        width: ptr(130);
        @include height(ptr(28));
        background: #fff;
        border-radius: ptr(5);
        //box-shadow: 0 ptr(2) 0 #B60221;
        text-align: center;
        color: #FF4A7D;
        border-radius: ptr(100);
        font-size: ptr(17);
      }
      .word-1 {
        margin: ptr(15) 0;
        line-height: ptr(20);
        color: #fff;
        font-size: ptr(14);
      }
      .word-2 {
        line-height: ptr(18);
        color: #666;
        font-size: ptr(12);
      }
    }
  }
}
