@import "../../../common/css/common.scss";

.app {
  padding-top: 44px;
  overflow: inherit;
  &.in_app{
    padding-top: 0;
    .com-top-title{
      display: none;
    }
  }
  // 顶部标题
  .com-top-title {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: $pageMaxWidth;
    height: 44px;
    line-height: 44px;
    background-color: #fafafa;
    color: #333;
    text-align: center;
    font-size: 16px;
    z-index: 1;
    &.border-bottom {
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    }
    // 返回按钮
    .back-btn {
      position: absolute;
      left: 0;
      height: 100%;
      width: 44px;
      // 箭头
      .back-arrow {
        position: absolute;
        top: 15px;
        left: 15px;
        display: inline-block;
        width: 12px;
        height: 12px;
        border-bottom: 1px solid #333;
        border-left: 1px solid #333;
        transform: rotate(45deg);
        cursor: pointer;
      }
    }
    // 标题
    .title {
      display: inline-block;
      width: 60%;
      @include ellipsis;
    }
    // 首页
    .home {
      position: absolute;
      top: 12px;
      right: 12px;
      display: inline-block;
      width: 20px;
      height: 20px;
      background: url(http://pic.davdian.com/free/home_icon_0825.png) no-repeat;
      background-size: 100%;
      cursor: pointer;
    }
  }

// 图片组
.img_group{
  font-size: 0;
  .img_item{
    position: relative;
    a{
      position: absolute;
    }
  }
}

img{
  max-width: 100%;
}

.to-top-icon{
  position: fixed;
    margin-left: 3.25rem;
    bottom: .7rem;
    width: .44rem;
    z-index: 1;
}

}
