@import "./base";
@import "../core/reset";


.commonList-container{
  padding-bottom: 40px;
  position: relative;
  width:100%;
  .class_introduce_con{
    @include border(0 0 1px 0,#E1E1E1);
    padding: 5px 10px 0;
    width:100%;
    .comment_tit{
      @include flexbox();
      height:50px;
      .img{
        @include border-radius(20px);
        width:46px;
        height:46px;
        background: pink;
        margin-right:5px;
        margin-top:5px;
        box-shadow: none!important;
      }
      .comment_dis{
        @include flex();
        @include flexbox();
        @include justify-content(center);
        @include flex-direction(column);
        width:100%!important;
        padding: 5px 0;
        span{
          display: block!important;
          width:80%!important;
          @include flex();
          color:#999;
          font-size: 12px;
        }
        .commentname{
          font-size: 14px;
          color: #333;
          line-height: 30px;
        }

      }
    }
    .class_introduce_text{
      font-size: 14px;
      color: #666;
      padding:5px 0;
      @include flexbox();
    }
  }
}