// arrow-right-red 图片:
@mixin i-arrow-right-red($ratio: 2) {
  content: '';
  display: inline-block;
  width: (16rem / 100 / $ratio);
  height: (24rem / 100 / $ratio);
  background: url(../img/icon.png) (-288rem / 100 / $ratio) (-250rem / 100 / $ratio) no-repeat;
  background-size: (572rem / 100 / $ratio) (341rem / 100 / $ratio);
}

// arrow-right 图片:
@mixin i-arrow-right($ratio: 2) {
  content: '';
  display: inline-block;
  width: (16rem / 100 / $ratio);
  height: (24rem / 100 / $ratio);
  background: url(../img/icon.png) (-469rem / 100 / $ratio) (-308rem / 100 / $ratio) no-repeat;
  background-size: (572rem / 100 / $ratio) (341rem / 100 / $ratio);
}

// assist-bg-1 图片:
@mixin i-assist-bg-1($ratio: 2) {
  content: '';
  display: inline-block;
  width: (242rem / 100 / $ratio);
  height: (132rem / 100 / $ratio);
  background: url(../img/icon.png) (0rem / 100 / $ratio) (-166rem / 100 / $ratio) no-repeat;
  background-size: (572rem / 100 / $ratio) (341rem / 100 / $ratio);
}

// assist-bg-2 图片:
@mixin i-assist-bg-2($ratio: 2) {
  content: '';
  display: inline-block;
  width: (242rem / 100 / $ratio);
  height: (132rem / 100 / $ratio);
  background: url(../img/icon.png) (-330rem / 100 / $ratio) (0rem / 100 / $ratio) no-repeat;
  background-size: (572rem / 100 / $ratio) (341rem / 100 / $ratio);
}

// assist-bg-3 图片:
@mixin i-assist-bg-3($ratio: 2) {
  content: '';
  display: inline-block;
  width: (242rem / 100 / $ratio);
  height: (132rem / 100 / $ratio);
  background: url(../img/icon.png) (-330rem / 100 / $ratio) (-142rem / 100 / $ratio) no-repeat;
  background-size: (572rem / 100 / $ratio) (341rem / 100 / $ratio);
}

// more 图片:
@mixin i-more($ratio: 2) {
  content: '';
  display: inline-block;
  width: (26rem / 100 / $ratio);
  height: (26rem / 100 / $ratio);
  background: url(../img/icon.png) (-252rem / 100 / $ratio) (-250rem / 100 / $ratio) no-repeat;
  background-size: (572rem / 100 / $ratio) (341rem / 100 / $ratio);
}

// redpack-bg 图片:
@mixin i-redpack-bg($ratio: 2) {
  content: '';
  display: inline-block;
  width: (320rem / 100 / $ratio);
  height: (156rem / 100 / $ratio);
  background: url(../img/icon.png) (0rem / 100 / $ratio) (0rem / 100 / $ratio) no-repeat;
  background-size: (572rem / 100 / $ratio) (341rem / 100 / $ratio);
}

// sub-title-service 图片:
@mixin i-sub-title-service($ratio: 2) {
  content: '';
  display: inline-block;
  width: (459rem / 100 / $ratio);
  height: (33rem / 100 / $ratio);
  background: url(../img/icon.png) (0rem / 100 / $ratio) (-308rem / 100 / $ratio) no-repeat;
  background-size: (572rem / 100 / $ratio) (341rem / 100 / $ratio);
}

// title-type-2-left 图片:
@mixin i-title-type-2-left($ratio: 2) {
  content: '';
  display: inline-block;
  width: (56rem / 100 / $ratio);
  height: (32rem / 100 / $ratio);
  background: url(../img/icon.png) (-252rem / 100 / $ratio) (-166rem / 100 / $ratio) no-repeat;
  background-size: (572rem / 100 / $ratio) (341rem / 100 / $ratio);
}

// title-type-2-right 图片:
@mixin i-title-type-2-right($ratio: 2) {
  content: '';
  display: inline-block;
  width: (56rem / 100 / $ratio);
  height: (32rem / 100 / $ratio);
  background: url(../img/icon.png) (-252rem / 100 / $ratio) (-208rem / 100 / $ratio) no-repeat;
  background-size: (572rem / 100 / $ratio) (341rem / 100 / $ratio);
}

