
.goods_group {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 5px;
}

.goods_group .goods_item {
  width: 50%;
  float: left;
  padding: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0;
  overflow: hidden;
}

.goods_group .goods_item > a {
  background-color: #fff;
  display: block;
  padding-bottom: 10px;
  overflow: hidden;
}

.goods_img {
  position: relative;
  background-color: #f1f1f1;
}

.img_label {
  font-weight: bold;
  left: 0;
  bottom: 0;
  position: absolute;
  font-size: 10px;
  opacity: 0.8;
  background: -webkit-gradient(linear, left top, right top, from(#ff5b5b), to(#fa1862));
  background: linear-gradient(90deg, #ff5b5b, #fa1862);
  background: -webkit-linear-gradient(left, #ff5b5b, #fa1862);
  color: #fff;
  line-height: 16px;
  padding: 1px 8px 0 6px;
  border-top-right-radius: 8px;
}

.img_label:after {
  content: "";
  width: 0;
  height: 0;
  border-width: 0 4px 10px 0;
  border-style: solid;
  border-color: transparent transparent #fa1862 transparent;
  position: absolute;
  margin-left: 8px;
  bottom: 0;
}

.goods_name {
  font-size: 12px;
  line-height: 18px;
  color: #333;
  overflow: hidden;
  height: 36px;
  margin: 5px 10px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
}

.goods_price {
  color: #FF4A7D;
  font-size: 16px;
  padding: 0 8px;
  width: 200%;
}

.price {
  vertical-align: sub;
}

small {
  padding: 0 1px;
  font-size: 80%;
}

.vip_return {
  line-height: 1;
  font-size: 0;
  color: #BF9D51;
  padding-left: 4px;
  position: relative;
  display: inline-block;
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transform-origin: 0 60%;
  -ms-transform-origin: 0 60%;
  transform-origin: 0 60%;
  vertical-align: middle;
  margin-bottom: -4px;
}

.vip_return .vip_return_title {
  font-size: 22px;
}

.vip_return .vip_return_f {
  font-size: 18px;
  padding: 0 2px 0 4px;
}

.vip_return .vip_return_price {
  font-size: 24px;
}

.price {
  vertical-align: sub;
}

@media screen and (max-width: 374px) {
  .vip_return {
    padding-left: 0;
    margin-bottom: -6px;
  }
  .vip_return .vip_return_title {
    font-size: 20px;
  }
  .vip_return .vip_return_f {
    font-size: 14px;
    padding: 0 2px 0 4px;
  }
  .vip_return .vip_return_price {
    font-size: 20px;
  }
  small {
    font-size: 70%;
  }
}

.alert_mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .6);
  z-index: 999;
}

.hb_img_container {
  background-image: url(//pic.davdian.com/free/2017/03/22/tc2.png);
  position: absolute;
  left: 40px;
  top: 40px;
  right: 40px;
  bottom: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}

/*秒杀的样式*/
.seckill_bg {
  background: #dff6d9;
}

.reverse_group_bg {
  background: #ffd8e7;
}

.goodsList {
  padding: 0 0.09rem;
}

.goodsList ul {
  padding-bottom: 0.05rem;
}

.goodsList li {
  width: 33.3%;
  float: left;
  padding: 0 0.01rem 0.02rem;
  box-sizing: border-box;
  position: relative;
}

.goodsList li .goodsInfo {
  background: #fff;
  padding: 0 0.05rem 0.12rem;
}

.goodsList li .goodsTitle {
  font-size: 0.12rem;
  color: #333;
  text-overflow: ellipsis;
  white-space: pre-line;
  height: 0.3rem;
  line-height: 0.16rem;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  overflow: hidden;
  background: #fff;
  box-sizing: border-box;
  margin: 0.09rem 0;
}

.goodsList li .goodsPrice {
  height: 0.16rem;
  line-height: 0.16rem;
  color: #ff4a7d;
  box-sizing: border-box;
}

.goodsList li .goodsPrice .lable {
  border-radius: 0.08rem;
  height: 0.16rem;
  line-height: 0.16rem;
  color: #fff;
  background-color: #ff4a7d;
  font-size: 0.1rem;
  display: inline-block;
  font-family: sans-serif;
  float: right;
}

.goodsList li .goodsImg {
  position: relative;
  padding: 0.02rem 0.02rem 0;
  background: #fff;
}

.goodsList li .goodsImg .sold_lable {
  width: 0.6rem;
  height: 0.6rem;
  line-height: 0.6rem;
  text-align: center;
  color: #fff;
  font-size: 14px;
  border-radius: 0.6rem;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  margin-top: -0.3rem;
  left: 50%;
  margin-left: -0.3rem;
}

.more_seckill {
  position: absolute;
  width: 90%;
  left: 5%;
  top: 21.5%;
}

.fz_12 {
  font-size: 12px;
}

.fz_16 {
  font-size: 0.16rem;
}

.pull_right {
  float: right;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

.goodsTitle_kb {
  background: #ffffff;
  height: 0.74rem;
}

.img_item {
  position: relative;
}

.switcher .active {
  color: #ff4a7d;
  border-bottom: #ff4a7d 2px solid;
}

.dao_container {
  background-color: #fff;
  position: relative;
}

.dao_title {
  line-height: 40px;
  padding-left: 12px;
}

.dao_time_con {
  position: absolute;
  right: 12px;
  top: 9px;
  font-size: 14px;
  border-radius: 10px;
  background: #eee;
  padding: 0 7px;
}

.top_other {
  background-color: #f74b76;
  font-size: 0;
  line-height: 0;
}

.top_other a {
  text-align: center;
  display: inline-block;
  font-size: 13px;
  width: 25%;
  color: #fff;
  box-sizing: border-box;
  border-right: #fff solid 1px;
  border-bottom: #fff solid 1px;
  line-height: 1.5;
  padding: 5px 0;
}

.top_other a.active {
  background: #fdafaf;
}

.top_other a span {
  border: solid 1px #fff;
  width: 90%;
  padding: 2px 0;
  display: inline-block;
}

.dav_icon_up2top_80_80 {
  background-size: 44px;
  width: 44px;
  height: 44px;
  background-image: url("//pic.davdian.com/free/back_top_icon_0803.png")
}
i.icon{
  width: 44px;
  height: 44px;
}
