@import "../../../common/css/common.scss";

.app {
  padding-bottom: 51px;
  background: url(../img/bg.jpg) repeat-y;
  .g-topic-top, .g-topic-bottom {
    color: white;
  }
  .com-footer {
    z-index: 1;
  }
  .g-act {
    margin: ptr(10) auto;
  }
  .g-head-pic {
    position: relative;
    .pic {
      width: 100%;
    }
    .count-down {
      position: absolute;
      top: ptr(243);
      width: 100%;
      text-align: center;
      > .title {
        color: #9f9f9f;
        font-size: ptr(10);
        line-height: ptr(20);
      }
      .boxes {
        .box {
          padding-top: ptr(4);
          display: inline-block;
          width: ptr(30);
          height: ptr(35);
          box-shadow: 0 0 ptr(5) #fbcbd6;
          background: white;
          border-radius: ptr(4);
          .title {
            font-size: ptr(9);
            line-height: ptr(13);
            color: #d10070;
          }
          .text {
            font-size: ptr(18);
            color: #9D6868;
          }
        }
      }
    }
  }
  .g-begin-pop {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: $pageMaxWidth;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    background-size: ptr(319);
    z-index: 6;
    @keyframes begin-pop-pic-animation {
      0% {
        transform: scale(0);
      }
      50% {
        transform: scale(1.2);
      }
      70% {
        transform: scale(0.8);
      }
      100% {
        transform: scale(1);
      }
    }
    .pic {
      position: absolute;
      top: ptr(135);
      left: ptr(30);
      width: ptr(319);
      animation: begin-pop-pic-animation 1s;
      @keyframes begin-pop-pic-close-animation {
        0% {
          opacity: 1;
          transform: translate(0, 0);
        }
        40% {
          opacity: 1;
          transform: scale(0.2) translate(0, 0);
        }
        60% {
          opacity: 1;
          transform: scale(0.2) translate(0, 0);
          transform-origin: center;
        }
        100% {
          opacity: 0;
          transform: scale(0.1) translate(ptr(250), ptr(-150));
          transform-origin: right top;
        }
      }
      &.close {
        animation: begin-pop-pic-close-animation 1s;
      }
    }
    .btn {
      position: absolute;
      top: ptr(430);
      left: ptr(70);
      width: ptr(240);
      height: ptr(50);
    }
  }
  .g-my-1018 {
    position: fixed;
    top: ptr(100);
    right: 0;
    color: white;
  }
}
