@import "../../../common/css/common.scss";

.app {
  padding-bottom: 51px;
  background: url(../img/bg.jpg) repeat-y;
  .g-head-pic {
    img {
      width: 100%;
    }
  }
  .g-topic-top, .g-topic-bottom {
    color: white;
  }
  .com-footer {
    z-index: 1;
  }
  .g-act{
    margin: ptr(10) auto;
  }
}
