<!DOCTYPE html>
<html>
<head>
  @@include('meta.include')
  <link rel="stylesheet" href="[[vendor]]/swiper/swiper-3.3.1.min.css">
  <link rel="stylesheet" href="[[static]]/page/act_1018_main/css/act_1018_main.css[[v]]">
</head>
<body>
  <div class="app">
    <!--标题-->
    <com-top-title title="10.18周年庆" home></com-top-title>

    <!--头图-->
    <div class="g-head-pic">
      <img class="pic" :src="topics[0].content">
      <div class="count-down">
        <div class="title">活动开始倒计时</div>
        <div class="boxes">
          <span class="box">
            <div class="title">天</div>
            <div class="text">{{countDown.day}}</div>
          </span>
          <span class="box">
            <div class="title">小时</div>
            <div class="text">{{countDown.hour}}</div>
          </span>
          <span class="box">
            <div class="title">分钟</div>
            <div class="text">{{countDown.minute}}</div>
          </span>
          <span class="box">
            <div class="title">秒</div>
            <div class="text">{{countDown.second}}</div>
          </span>
        </div>
      </div>
    </div>

    <!--活动开启弹窗-->
    <div class="g-begin-pop" @touchmove.prevent @mousewheel.prevent style="display: none;" :style="{display: isShowBeginPop ? null : 'none'}">
      <img class="pic" src="[[static]]/page/act_1018_main/img/game-begin.png" :class="{close: isShowBeginPopCloseAnimation}">
      <div class="btn" @click="closeBeginPop"></div>
    </div>

    <!--我的1018-->
    <a href="/act_1018_mine.html">
      <img class="g-my-1018" src="[[static]]/page/act_1018_main/img/my1018.png"
           style="display: none;" :style="{display: localStorage.getItem('start_1018_flag') ? null : 'none'}">
    </a>

    <!--活动上方专题-->
    <div class="g-topic-top" v-html="topics[1].content"></div>

    <!--活动区域-->
    <div class="g-act" v-if="response && response.data">
      <!--好友助力-->
      <!--<com-act-assistance :response="response" v-if="response.data.help" :current-date="currentDate"></com-act-assistance>-->

      <!--品牌点亮-->
      <!--<com-act-xxx :response="response" v-if="response.data.lightenBrand" :current-date="currentDate"></com-act-xxx>-->

      <!--爆品预约-->
      <com-act-subscribe :response="response" v-if="response.data.subscribe" :current-date="currentDate"></com-act-subscribe>

      <!--商品预定-->
      <!--<com-act-xxx :response="response" v-if="response.data.book" :current-date="currentDate"></com-act-xxx>-->
    </div>

    <!--活动下方专题-->
    <div class="g-topic-bottom" v-html="topics[2].content"></div>

    <!--底部角标-->
    <com-footer></com-footer>

    <!--返回顶部-->
    <com-to-top-icon></com-to-top-icon>
  </div>

  @@include('vendor.include')
  <script src="[[vendor]]/swiper/swiper-3.3.1.jquery.min.js"></script>
  <script src="[[static]]/page/act_1018_main/js/act_1018_main.js[[v]]"></script>
</body>
</html>
