<!DOCTYPE html>
<html>
<head>
  @@include('meta.include')
  <link rel="stylesheet" href="[[static]]/page/my_invitation_code/css/my_invitation_code.css[[v]]">
</head>
<body>
  <div class="app" v-if="response" style="display: none;" :style="{display: response ? null : 'none'}">
    <!--标题-->
    <com-top-title title="邀请好友安装大V店APP"></com-top-title>

    <!--主体内容-->
    <div v-if-="response">
      <!--我的邀请码-->
      <div class="sharImg">
        <img :src="response.data.shareUrl" alt="" @touchstart="gtouchstart" @touchend="gtouchend" @touchmove="gtouchmove">
      </div>
      <div v-if="isApp" :class="{'share_to_btn':isApp}" @click="shareto">
        分享给好友
      </div>
      <div class="my_code_text">
        我的邀请码：<span @click="show_pop = true">{{response.data.inviteCode}}</span><span v-if="isApp" @click="copyText(response.data.inviteCode)">复制邀请码</span><span v-else @click="show_pop = true">复制邀请码</span>
      </div>
      <div class="other-info" @click="what_invite_code">
        什么是邀请码？
      </div>
    </div>
    <!--邀请码规则-->
      <div v-if="rule_form" class="com-popup-base">
        <div class="table-cell">
          <div v-show="rule_form" class="box">
            <div>邀请码规则</div>
            <div>
              <p>1. 每个大V店会员都有一个专属邀请码，您可以向身边的大V店会员索取邀请码；</p>
              <p>2. 邀请码为6位数字+字母组合，或邀请人大V店账户手机号；</p>
              <p>3. 绑定邀请人后，您在大V店APP及果敢时代大V店公众号内都将访问邀请人店铺；</p>
              <p>4. 一个用户只能有一个邀请人，在您绑定邀请人后，可在7天内更换一次邀请人。</p>
            </div>
            <div v-on:click="close_what_invite"></div>
          </div>
        </div>
    </div>
    <!--电话操作面板-->
    <div v-if="!isApp" class="g-pop mobile" :class="{'active':show_pop}">
      <ul>
        <li class="number" style="display: block;">{{response.data.inviteCode}}</li>
        <li class="copy">长按上方邀请码可选择复制</li>
        <li class="cancel" @click="show_pop = false">取消</li>
      </ul>
    </div>
  </div>

  @@include('vendor.include')
  <script src="[[static]]/page/my_invitation_code/js/my_invitation_code.js[[v]]"></script>
</body>
</html>
