@import "../../../common/css/common.scss";

body{
  margin: auto;
}

.activity_container{
  background: white;
  padding-bottom: ptr(5);
  overflow: scroll;
}

.activity_huibenjie_scratch {
  position: relative;
  .bg-pic{
    width: 100%;
    height: ptr(174);
  }
  .com-scratch-card {
    position: absolute;
    top: ptr(89);
    left: 0;
    right: 0;
    margin: auto;
    width: ptr(296);
    @include height(ptr(64));
    background: #FFAFAF;
    font-size: ptr(20);
    //font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;
  }
  .rule{
    margin: ptr(10);
    color: #666666;
    font-size: ptr(11);
    //font-size: 11px;
    line-height: 1.5;
    .title{
      font-size: ptr(12);
      //font-size: 12px;
      line-height: 2
    }
  }
}


