/*重写基础样式*/
body {
    max-width: 640px;
    color: #333;
    background-color: #f0f0f0;
    margin: 0 auto;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
}
article, aside, blockquote, code, dd, div, dl, dt, fieldset, footer, form, h1, h2, h3, h4, h5, h6, header, i, input, legend, li, nav, ol, p, pre, section, td, textarea, th, ul {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    list-style-type: none;
}
a, a:active, a:focus, a:hover, a:visited, div, span {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    text-decoration: none;
    color: inherit;
}
img{
    max-width:100%;
}


/*基础颜色*/
.dav_base_red_color{
    color: #ff4a7d;;
}

/*flex布局*/
.flex{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}
.flex-v{-webkit-box-orient:vertical;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;}
.flex-1{-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;}
.flex-align-center{-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;}
.flex-pack-center{-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;}
.flex-pack-justify{-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;}