<!DOCTYPE html>
<html lang="en">
<head>
  <!--<script>window.designWidth = 750;</script>-->
  @@include('meta.include')
  <link rel="stylesheet" href="[[static]]/page/act_1018_explosion_list/css/act_1018_explosion_list.css[[v]]">
</head>
<body>
<div class="app">
  <!--标题-->
  <com-top-title title="爆款馆" home></com-top-title>

  <img class="banner" src="[[static]]/page/act_1018_explosion_list/img/explosion-list-banner.png">
  <template v-if="response">
    <div v-for="(item,key,i) in response.data" class="g-goods-wrapper" v-cloak :id="'active-tab'+i">
      <p class="g-goods-title">{{timer[i]}} {{response.sys_time >= key ? '已开抢' : '待开抢'}}</p>
      <ul>
        <li v-for="goods in item.goodsList" @click="goodsClick(goods.goodsId)" class="goods-item">
          <div class="goods-group">
            <img v-lazy="goods.goodsImage" class="item-pic">
            <!--状态判断-->
            <p class="stage-tip" v-if="goods.status == 2">已售罄</p>
            <p class="stage-tip" v-else-if="goods.status == 0">未开始</p>
          </div>
          <img class="item-icon" src="[[static]]/page/act_1018_explosion_list/img/explosion-icon.png">

          <div class="price">
            <p class="item-name">{{goods.goodsName}}</p>
            <p class="item-detail">到手价: <span class="detail-money">{{goods.activityPrice}}元</span><span class="detail-reserve" v-if="goods.status == 1">仅剩{{goods.number}}件</span></p>
            <a :href="goods.lotteryLink" @click.stop class="item-lottery">{{goods.lotteryPrice}}元无门槛红包<span class="lottery-tip">领券更省</span></a>
          </div>
        </li>
      </ul>
    </div>
  </template>
  <ul class="explosion-rule">
    <li>助力省钱规则</li>
    <li>1.助力时间：2017.10.01 00:00:00-2017.10.17 23:59:59；</li>
    <li>2.抢购时间：2017.10.18 00:00:00- 2017.10.18 23:59:59；</li>
    <li>3.活动仅限大V店会员参与；</li>
    <li>4.邀请好友助力可获得随机减钱；</li>
    <li>5.每天仅有1次给好友助力的机会，成功助力即可给好友随机减钱，还有机会抽取iPhone8；</li>
    <li>6.10月18日当天以活动价支付购买活动商品，支付成功后该商品得到的助力金额将以返现的形式返到【我的】－【总额】－【待结算金额】－【其他收入】里，30天后如果没有退货将转到【可提现金额】;</li>
    <li>7.其中爸爸的选择纸尿裤、成人/儿童羽绒服、熊北鼻鲑鱼酱助力所减金额，可用于购买其同款任一规格商品，最晚于10月23日24点前返现到账，其他商品将在商品支付成功后5分钟左右返现；
    </li>
    <li>8.已发起助力的商品可在【我的10.18】中查看，商品库存有限，助力结束后10月18日当天请尽快支付购买，最高返该商品的实际支付金额；</li>
    <li>9.只有在10月18日成功支付商品，助力减钱金额才能返现，若未及时支付购买，助力减钱金额将不会返现到账；</li>
    <li>10.详情可咨询大V店客服。</li>
  </ul>
  <img class="footer-logo" src="[[static]]/page/act_1018_explosion_list/img/logoWhite.png">

  <com-to-top-icon></com-to-top-icon>
</div>
@@include('vendor.include')
@@include('js.include')
<script src="[[static]]/page/act_1018_explosion_list/js/act_1018_explosion_list.js[[v]]"></script>
</body>
</html>
