.bd_icon_0 {
  overflow: hidden;
  padding-top: 11px;
  background-color: #fff;
  margin-top: 1px;

  .link_item {
    float: left;
    width: 25%;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 4px;

    .link_img {
      margin-bottom: 8px;
      max-width: 46px;
      max-height: 46px;
      display: inline-block;
    }

    .link_text {
      color: #666;
      font-size: 12px;
      line-height: 18px;
      height:18px;
      overflow: hidden;
      width:48px;
      margin: auto;
      margin-top: 8px;
    }
  }
}






