#canvas{
	position: absolute;
	top: 0;
	z-index: -1;
}
#gif{
	position: absolute;
	top: 0;
	z-index: -1;
}
#fireWord span{
	position: absolute;
    text-align: right;
    top: .29rem;
    height: .22rem;
    line-height: .22rem;
    color: #fff;
    font-size: .14rem;
    font-weight: bolder;
}
@media screen and (max-width:340px){
  	#fireWord span{
   		line-height: .24rem;
   	}
}
@media screen and (min-width:380px){
  	#fireWord span{
   		line-height: .2rem;
   	}
}
.dayShow{
   	width: .17rem;
	// left: 43%;
	left: 1.59rem;
}
.hourShow{
	width: .21rem;
	// left: 52%;
	left: 1.94rem;
}
.minuteShow{
	// left: 62%;
	width: .21rem;
	left: 2.31rem;
}
.secondShow{
	// left: 71%;
	width: .21rem;
	left: 2.66rem;
}
.fire_work_img{
	width: 100%;
}