<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../stylesheet/swiper-3.3.1.min.css">
    <link rel="stylesheet" href="../dist/new_category.css">
    <script>
        var dataUrl = '../data/category.json';
        var tj_path = 'category_search';
    </script>
    <title>分类列表</title>
</head>
<body id="category">
<div class="top0">
    <div class="top_fix"></div>
    <div class="top_container">
        <div class="top_left">
            <a class="top_back" href="javascript:history.back();">
                <span class="home_arrow"></span>
            </a>
        </div>
        <div class="title_container kind_list">
            <div class="input_container">
                <a class="search_form" href="search.html">
                    <span class="search_icon"></span>
                    <input class="search_input" type="search" name="q" placeholder="搜索店铺商品" readonly>
                    <i class="icon-search icon dav_icon_search_30_30"></i>
                    <button type="submit">提</button>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="box box-h con">
    <div class="item left" id="wrapper">
        <div class="box-v left_container">
            <div class="item type"
                 v-for="(i, item) in list"
                 v-text="item.title"
                 :class="{'active':i==index}"
                 @click="changeList(i,item)">
            </div>
        </div>
    </div>
    <div class="item item-3 right" id="right">
        <div class="right_con">
            <div class="banner" v-if="category.banner&&category.banner.length">
                <img :src="category.banner[0].img" alt="" @click="click(category.banner[0])">
            </div>
            <div class="category box box-warp" v-for="g in Math.ceil(category.category.length/9)">
                <div class="item item-1of3 cat_block" v-for="item in 9" v-if="category.category[g*9+item]"  @click="click(category.category[g*9+item])">
                    <p><img :src="category.category[g*9+item].img"></p>
                    <p v-text="category.category[g*9+item].text" class="text"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--bottom模块 只需要cart数量 可以为0-->
<dvd-bottom :active="1" :cart="4"></dvd-bottom>


<script src="http://cdn.davdian.com/vue/1.0.26/vue.min.js"></script>
<script src="http://cdn.davdian.com/jquery/1.9.1/jquery.min.js"></script>
<script src="http://cdn.davdian.com/swiper/swiper-3.3.1.jquery.min.js"></script>
<script src="http://cdn.davdian.com/iscroll/5.1.3/iscroll.min.js"></script>
<script src="../dist/new_category.js" type="text/javascript"></script>

</body>
</html>